12苏大附一瓶签对外接口2.0/TransTuiYao/Service References/ServiceReference2/upinterface1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LabelInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="labels" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LabelInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LabelInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LabelInfoSoapIn">
    <wsdl:part name="parameters" element="tns:LabelInfo" />
  </wsdl:message>
  <wsdl:message name="LabelInfoSoapOut">
    <wsdl:part name="parameters" element="tns:LabelInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="UpInterfaceSoap">
    <wsdl:operation name="LabelInfo">
      <wsdl:input message="tns:LabelInfoSoapIn" />
      <wsdl:output message="tns:LabelInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpInterfaceSoap" type="tns:UpInterfaceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LabelInfo">
      <soap:operation soapAction="http://tempuri.org/LabelInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpInterfaceSoap12" type="tns:UpInterfaceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LabelInfo">
      <soap12:operation soapAction="http://tempuri.org/LabelInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpInterface">
    <wsdl:port name="UpInterfaceSoap" binding="tns:UpInterfaceSoap">
      <soap:address location="http://10.1.1.58:8081/upinterface.asmx" />
    </wsdl:port>
    <wsdl:port name="UpInterfaceSoap12" binding="tns:UpInterfaceSoap12">
      <soap12:address location="http://10.1.1.58:8081/upinterface.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>