6接口调用/ChargeInterface/Service References/PivasCharge/PivasWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://196.57.57.76/PivasWebService.asmx" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://196.57.57.76/PivasWebService.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://196.57.57.76/PivasWebService.asmx">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Charge">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Groupno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="infusionDT" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChargeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChargeResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hismsg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hisret" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BackPre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_group_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prm_EXEC_DOCTOR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prm_jujueyy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BackPreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BackPreResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PRM_DATABUFFER" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PRM_APPCODE" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ChargeSoapIn">
    <wsdl:part name="parameters" element="tns:Charge" />
  </wsdl:message>
  <wsdl:message name="ChargeSoapOut">
    <wsdl:part name="parameters" element="tns:ChargeResponse" />
  </wsdl:message>
  <wsdl:message name="BackPreSoapIn">
    <wsdl:part name="parameters" element="tns:BackPre" />
  </wsdl:message>
  <wsdl:message name="BackPreSoapOut">
    <wsdl:part name="parameters" element="tns:BackPreResponse" />
  </wsdl:message>
  <wsdl:portType name="PivasWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Charge">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">计费</wsdl:documentation>
      <wsdl:input message="tns:ChargeSoapIn" />
      <wsdl:output message="tns:ChargeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BackPre">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">退单</wsdl:documentation>
      <wsdl:input message="tns:BackPreSoapIn" />
      <wsdl:output message="tns:BackPreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PivasWebServiceSoap" type="tns:PivasWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://196.57.57.76/PivasWebService.asmx/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Charge">
      <soap:operation soapAction="http://196.57.57.76/PivasWebService.asmx/Charge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BackPre">
      <soap:operation soapAction="http://196.57.57.76/PivasWebService.asmx/BackPre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PivasWebServiceSoap12" type="tns:PivasWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://196.57.57.76/PivasWebService.asmx/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Charge">
      <soap12:operation soapAction="http://196.57.57.76/PivasWebService.asmx/Charge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BackPre">
      <soap12:operation soapAction="http://196.57.57.76/PivasWebService.asmx/BackPre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PivasWebService">
    <wsdl:port name="PivasWebServiceSoap" binding="tns:PivasWebServiceSoap">
      <soap:address location="http://192.168.1.190:7070/PivasWebservice.asmx" />
    </wsdl:port>
    <wsdl:port name="PivasWebServiceSoap12" binding="tns:PivasWebServiceSoap12">
      <soap12:address location="http://192.168.1.190:7070/PivasWebservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>