8个性化需求/舱内屏服务/ScreenService/Service References/WCFS/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.12.171:8088/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.12.171:8088/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData1_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData1" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData1_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetData1Response" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDrugData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDrugData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDrugData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDrugDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDrugTest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDrugTest" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDrugTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDrugTestResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData1">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData1" message="tns:IService1_GetData1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetData1Response" message="tns:IService1_GetData1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDrugData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDrugData" message="tns:IService1_GetDrugData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDrugDataResponse" message="tns:IService1_GetDrugData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDrugTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDrugTest" message="tns:IService1_GetDrugTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDrugTestResponse" message="tns:IService1_GetDrugTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData1">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrugData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDrugData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDrugTest">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDrugTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://192.168.12.171:8088/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>